body {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}

input[type="submit"] {
  display: block;
  margin: auto;
}

.input-textarea {
  width: 320px;
  height: 400px;
}
