<!DOCTYPE html>
<html ng-app="prayerPartnerApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Prayer Partner Generator</title>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./js/app.js"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="GeneratorCtrl">
  <h1>Prayer Partner Generator</h1>
  <p>{{ beforeDesc }}</p>
  <textarea class="input-textarea" ng-model="list">
  </textarea>
  <input type="submit" value="Generate" ng-click="generate()" />
  <p>{{ afterDesc }}</p>
</body>
</html>
